.titulo{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.subtituloCategoriasCertificados{
    text-align: center;
    font-size: 29px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
}
.certificados{
    padding-top: 0px;
    padding-bottom: 20px;

}
.div-certificados{
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(116, 255, 144, 0.26);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px green solid;
}
#ul_certificados{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;   
    grid-auto-rows: 105px;   
    width: 1190px;
    margin: 50px auto!important;
    gap: 10px;
}
#ul_certificados__li{
    /* width: 400px; */
    /* box-shadow: 0 0 10px rgba(52, 255, 45, 0.671); */
    border: 1px green solid;

    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;

}
#ul_certificados__li__imgENome{
    display: flex;
}
#ul_certificados__li__imgENome img{
    width: 30px!important;
    margin-right: 10px;
}
#ul_certificados__li__imgENome p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
#ul_certificados__li__duracaoECertificado{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ul_certificados__li__duracaoECertificado p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
}
#ul_certificados__li__duracaoECertificado a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 600;
}
#ul_certificados__li__duracaoECertificado span{
    font-size: 21px;
    color: rgb(36, 36, 36);
    font-weight: 100;
}

.certificado{
    width: 500px;
    height: 350px;
    object-fit: cover;
    border: 2px rgb(0, 162, 0) solid;
    margin-right: 5px;
    margin-bottom: 5px;
}
.ulrCredencial{
    font-size: 20px;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    text-align: center;
}
.ulrCredencial:hover{
    color: rgb(187, 187, 187);
}
.conteudo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.telaSuperiorImg{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 20px;
}
.imgGrandeCertificado{
    max-width: 95%;
    max-height: 98vh;
    border: 1px green solid;
}
.btnFecharCertificado{
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid rgb(47, 255, 47);
    background-color: rgba(0, 0, 0, 0.802);
    color: white;
    font-size: 36px;
    border-radius: 5px;
}
.btnFecharCertificado i{

}
@media(max-width: 1050px){
    .certificados{
        width: 825px;
    }
    .certificado{
        width: 400px;
        height: 250px;
    }
    .ulrCredencial{
        font-size: 18px;
    }
}
@media(max-width: 830px){
    .certificados{
        width: 500px;

    }
    .certificado{
        margin-right: 0px;
        width: 500px;
        height: 350px;
    }
    .ulrCredencial{
        font-size: 16px;
    }
}
@media(max-width: 520px){
    .div-certificados{
        background: rgba(0, 0, 0, 0.384);
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    .certificados{
        width: 400px;

    }
    .certificado{
        margin-right: 0px;
        width: 400px;
        height: 250px;
    }
}
@media(max-width: 410px){
    .certificados{
        width: 320px;

    }
    .certificado{
        margin-right: 0px;
        width: 320px;
        height: 180px;
    }
}
@media(max-width: 340px){
    .certificados{
        width: 300px;

    }
    .certificado{
        width: 300px;
        height: 180px;
    }
}