.titulo{
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.subtituloCategoriasCertificados{
    text-align: center;
    font-size: 29px;
    color: white;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}
.certificados{
    padding-top: 0px;
    padding-bottom: 20px;

}
.div-certificados{
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(116, 255, 144, 0.26);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px green solid;
}
#ul_certificados{
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;   
    grid-auto-rows: 105px;   
    width: 1190px;
    margin: 30px auto!important;
    gap: 10px;
}
#ul_certificados__li{
    /* width: 400px; */
    /* box-shadow: 0 0 10px rgba(52, 255, 45, 0.671); */
    border: 1px green solid;

    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;

}
#ul_certificados__li__imgENome{
    display: flex;
}
#ul_certificados__li__imgENome img{
    width: 30px!important;
    margin-right: 10px;
}
#ul_certificados__li__imgENome p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
#ul_certificados__li__duracaoECertificado{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ul_certificados__li__duracaoECertificado p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
}
#ul_certificados__li__duracaoECertificado a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 600;
}
#ul_certificados__li__duracaoECertificado span{
    font-size: 21px;
    color: rgb(36, 36, 36);
    font-weight: 100;
}