.projetos{
    margin-top: 60px;
    padding-bottom: 100px;
    width: 1210px;
}
.projetos__titulo{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}
.projetos__artigos{
    display: flex;
    flex-wrap: wrap;
}
.projeto{
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
}
.projeto__conteudo{
    width: 390px;
    height: 321px;
    background-color: rgba(0, 0, 0, 0.734);
    border: 1px rgb(9, 145, 9) solid;
    border-radius: 10px;
    padding-bottom: 20px;
    transition: 200ms;
}
.projeto__conteudo:hover{
    border: 1px rgb(48, 250, 48) solid;
    transform: scale(1.01);
}
.projeto__capa{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px rgb(131, 131, 131) solid;
}
.projeto__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    padding: 0 10px;
}
.projeto__descricao{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    padding: 0 10px;
    line-height: 22px;
    font-weight: 300;

}
@media(max-width: 1215px){
    .projetos{
        width: 1088px;
    }
    .projeto__conteudo{
        width: 350px;
        height: 288px;
    }
    .projeto__capa{
        height: 180px;
    }
    .projeto__titulo{
        font-size: 21px;
    }
    .projeto__descricao{
        font-size: 17px;
    
    }
}
@media(max-width: 1100px){
    .projetos{
        width: 998px;
    }
    .projeto__conteudo{
        width: 320px;
        height: 263px;
    }
    .projeto__capa{
        height: 150px;
    }
    .projeto__descricao{
        font-size: 16px;
    
    }
}
@media(max-width: 1100px){
    .projetos{
        width: 998px;
    }
    .projeto__conteudo{
        width: 320px;
        height: 263px;
    }
    .projeto__capa{
        height: 150px;
    }
    .projeto__descricao{
        font-size: 16px;
    
    }
}
@media(max-width: 1010px){
    .projetos{
        width: 805px;
    }
    .projeto__conteudo{
        width: 390px;
        height: 320px;
    }
    .projeto__capa{
        height: 200px;
    }
    .projeto__titulo{
        font-size: 22px;
    }
    .projeto__descricao{
        font-size: 18px;
    
    }
}
@media(max-width: 820px){
    .projetos{
        width: 420px;
    }
    .projeto{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .projeto__conteudo{
        width: 420px;
        height: 334px;
    }
}
@media(max-width: 430px){
    .projetos{
        width: 380px;
    }
    .projeto__conteudo{
        width: 380px;
        height: 311px;
    }
    .projeto__capa{
        height: 170px;
    }
    .projeto__titulo{
        font-size: 21px;
    }
    .projeto__descricao{
        font-size: 17px;
    
    }
}
@media(max-width: 390px){
    .projetos{
        width: 350px;
    }
    .projeto__conteudo{
        width: 350px;
        height: 257px;
    }
    .projeto__capa{
        height: 150px;
    }
    .projeto__titulo{
        font-size: 20px;
    }
    .projeto__descricao{
        font-size: 16px;
    }
}
@media(max-width: 355px){
    .projetos{
        width: 330px;
    }
    .projeto__conteudo{
        width: 330px;
        height: 242px;
    }
    .projeto__capa{
        height: 140px;
    }
    .projeto__titulo{
        font-size: 19px;
        margin-bottom: 10px;
    }
    .projeto__descricao{
        font-size: 15px;
    }
}
@media(max-width: 340px){
    .projetos{
        width: 310px;
    }
    .projeto__conteudo{
        width: 310px;
        height: 227px;
    }
    .projeto__capa{
        height: 130px;
    }
    .projeto__titulo{
        font-size: 19px;
    }
    .projeto__descricao{
        font-size: 15px;
    }
}